<!DOCTYPE html>
<html>
  <head>
    <title>Teste Fullstack</title>
  </head>
<meta charset="utf-8">
<script src="angular.min.js"></script>
<script src="app.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<script src="Chart.min.js"></script>
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
html {scroll-behavior: smooth;}
</style>
<body class="w3-light-grey" ng-app="myFirstApp">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
    <span class="w3-bar-item w3-right">Logo</span>
  </div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container w3-row">

    </div>
    <hr>
    <div class="w3-container">
      <h5>Dashboard</h5>
    </div>
    <div class="w3-bar-block">
      <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Fechar Menu</a>
      <a href="#" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users fa-fw"></i>  Quadro Geral</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>  Histórico</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Configurações</a><br><br>
    </div>
  </nav>
</div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;"  id="topDiv">

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px" ng-controller="overviewController" id="topTitle">
      <h5><b><i class="fa fa-dashboard"></i> Último quadro atualizado {{timeNow}}</b></h5>
    </header>

    <div class="w3-half">
      <canvas id="dayChart"></canvas>
    </div>

    <div class="w3-half">
      <div class="w3-row-padding w3-margin-bottom" ng-controller="overviewController">
          <div class="w3-half" ng-click="getChartData('Temp')">
            <div class="w3-container w3-red w3-padding-16">
              <div class="w3-left"><i class="fas fa-thermometer-half w3-xxxlarge"></i></div>
              <div class="w3-right">
                <h3>52</h3>
              </div>
              <div class="w3-clear"></div>
              <h4>Temperatura</h4>
            </div>
          </div>
          <div class="w3-half" ng-click="getChartData('Humid')">
            <div class="w3-container w3-blue w3-padding-16">
              <div class="w3-left"><i class="fas fa-cloud-rain w3-xxxlarge"></i></div>
              <div class="w3-right">
                <h3>99</h3>
              </div>
              <div class="w3-clear"></div>
              <h4>Umidade ar</h4>
            </div>
          </div>
          <div class="w3-half">
            <div class="w3-container w3-teal w3-padding-16">
              <div class="w3-left"><i class="fas fa-wind w3-xxxlarge"></i></div>
              <div class="w3-right">
                <h3>23</h3>
              </div>
              <div class="w3-clear"></div>
              <h4>Pressão ar</h4>
            </div>
          </div>
          <div class="w3-half">
            <div class="w3-container w3-brown w3-text-white w3-padding-16">
              <div class="w3-left"><i class="fas fa-seedling w3-xxxlarge"></i></div>
              <div class="w3-right">
                <h3>50</h3>
              </div>
              <div class="w3-clear"></div>
              <h4>Umidade solo</h4>
            </div>
          </div>
          <div class="w3-half">
              <div class="w3-container w3-orange w3-text-white w3-padding-16">
                <div class="w3-left"><i class="fas fa-sun w3-xxxlarge"></i></div>
              <div class="w3-right">
                <h3>50</h3>
              </div>
                <div class="w3-clear"></div>
                <h4>Luz</h4>
          </div>
          </div>
          <div class="w3-half">
              <div class="w3-container w3-indigo w3-text-white w3-padding-16">
                  <div class="w3-left"><i class="fas fa-umbrella w3-xxxlarge"></i></div>
              <div class="w3-right">
                  <h3>Não</h3>
              </div>
                  <div class="w3-clear"></div>
                  <h4>Chuva</h4>
          </div>
      </div>
    </div>
  </div>

   <!-- Footer -->
    <footer class="w3-container w3-padding-16 w3-light-grey">
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </footer>

  <!-- End page content -->
</div>

<script>

// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>  
</html>